{% extends 'base.html' %}
{% block title %}CCPP{% endblock %}
{% block content %}

<script>
    document.getElementById('/projects').id = 'active'
</script>

<a href='/projects' class='btn'>< Back to Projects</a>
<br><br>
<h1 class='code'>What is Cookie Clicker++?</h1>
<p>Cookie Clicker++ (CCPP for short) is a userscript you can use for hacking Cookie Clicker. It's mostly just for fun or to impress your friends, because it can get a little bit out of control...</p>
<img src='/static/images/ccpp.jpeg' width=600 height=271>
<p>I think the building count on the right can speak for itself. This userscript is pretty cracked.</p>

<h1 class='code'>How do I install CCPP?</h1>
<p>This is a userscript, which means you'll need to have a userscript manager installed. I personally use Tampermonkey, but if you have another favourite userscript manager, it'll work with that too. After you have one installed, all you need to do is click the 'Install CCPP' button below - it will download the userscript, and Tampermonkey will prompt you to install it. All the links are below:</p>
<a class='btn' href='https://addons.mozilla.org/en-US/firefox/addon/tampermonkey/' target='_blank'>Install Tampermonkey for FireFox</a>
<a class='btn' href='https://github.com/Bright-Shard/Cookie-Clicker-PlusPlus/raw/master/CookieClicker%2B%2B.user.js' target='_blank'>Install CCPP</a>
<a class='btn' href='https://www.tampermonkey.net/' target='_blank'>Tampermonkey's Website</a>
<br>
<br>
<img src='/static/images/ccpp-install.png' width=600 height=300>
<p>The install prompt should look like this, except it'll say 'Install' instead of 'Reinstall'.</p>
<h1 class='code'>Using CCPP</h1>
<p>Right now, CCPP runs from the JavaScript console in your browser. I might add buttons/a GUI later. To open it, right-click the page and hit 'Inspect Element', then switch to the 'Console' tab. On Firefox, you can also hit 'F12' to open that menu. You'll see a help menu showing you the various commands CCPP provides.<br>Also, CCPP will automagically update in the background, so don't worry about updating manually.</p>
<img src='/static/images/ccpp-launch.png' width=581 height=324>
<p>This shows how to open the JavaScript console. Tip: Click the image to make it bigger!</p>

{% endblock %}