@font-face { /* Comfortaa font, used for body text */
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://www.brightshard.dev/static/fonts/Comfortaa.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face { /* Open Sans font, used for headers and the site title */
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://www.brightshard.dev/static/fonts/OpenSans.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* General body styles */
body { /* Body text style */
    margin: 0;
    background-color: #262626;
    color: white;
    font-family: Comfortaa, verdana, sans-serif;
    line-height: 1.4;
    display: flex;
    flex: 3;
    flex-direction: column;
}
#content { /* Centre the text on the screen */
    padding: 15px 10px;
    z-index: 0;
    overflow-y: auto;
    float: top;
    top: 0;
}

/* Footer styles */
#footer { /* DIV holding the footer of the website */
    color: #04AA6D;
    float: bottom;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 7px 0;
    background-color: #151515;
    z-index: 1;
}
#footer-content { /* DIV holding the actual content, this prevents the footer background from expanding horizontally from padding */
    padding: 0 10px;
}

/* Top bar styles */
#titlebar { /* DIV holding the top bar, positions the bar and spaces nav links & site name */
    position: sticky;
    left: 0;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 15px;
    width: 100%;
    background-color: #151515;
    z-index: 3;
    height: 80px;
}
.clearfix { /* This is just to fix visual errors in the title bar */
    clear: both;
}
#title { /* DIV holding title, used to position title */
    float: left;
    padding-top: 10px;
}
#title-text { /* Style the title text */
    text-decoration: none;
    color: #04AA6D;
    padding-left: 15px;
    font-size: 40px;
    font-family: OpenSans, sans-serif;
}
#navbar { /* DIV holding the navigation links */
    display: grid;
    position: relative;
    grid-template-columns: 1fr 10px 80px;
    grid-template-rows: 1fr;
    right: 0px;
    width: 100%;
}
#navbar-icons { /* List holding settings & hamburger button */
    grid-column: 3;
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    top: 0;
}
.navbar-pages-desktop { /* List holding navbar links, made for bigger screens */
    grid-column: 1;
    grid-row: 1;
    list-style-type: none;
    overflow: hidden;
    padding: 0;
}
.navbar-pages-mobile { /* List holding navbar links, made for smaller screens */
    list-style-type: none;
    margin-top: 80px;
    right: 0px;
    z-index: 2;
    position: fixed;
    border: 2px solid;
    border-radius: 5px;
    background-color: #151515;
    padding: 6px 12px;
    box-shadow: -7px 7px 3px black;
}
#settings {
    display: block;
    margin-top: 80px;
    position: fixed;
    right: 0;
    z-index: 2;
    background-color: #151515;
    box-shadow: -10px 10px 3px black;
}
#projects-dropdown {
	background-color: #151515;
    box-shadow: -10px 10px 3px black;
}
.tab-list-item { /* Each list item */
    float: right;
    padding: 4px 5px;
}
.tab-text { /* Text in each nav link */
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #151515;
    border: 2px solid;
    border-radius: 5px;
    background-color: #04AA6D;
    padding: 6px 12px;
    transition-duration: 0.3s;
}
.tab-text:hover {
    box-shadow: -3px 3px 3px black;
    scale: 1.05;
}
#active { /* Change colour of current tab */
    background-color: #151515;
    color: #04AA6D;
}
.icon { /* Style for the settings cog & hamburger menu icons */
    background: rgba(0, 0, 0, 0);
    color: #04AA6D;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.3s;
    padding: 3px;
    margin-top: 4px;
}
.icon:hover { /* Enlarge icons on hover */
    scale: 1.1;
}
#settingsContent {
    margin: 0;
}

/* Specific text types, error messages / code blocks / etc */
.error {
    display: inline-block;
    border-radius: 5px;
    padding: 10px;
    background-color: #bb0000;
    border: 2px solid #bb0000;
}
.code {
    background-color: #151515;
    color: #04AA6D;
    display: inline-block;
    border-radius: 5px;
    border: 2px solid #151515;
    padding: 5px;
    font-family: OpenSans, sans-serif;
}
.outline {
    color: #04AA6D;
    border: 2px solid;
    border-radius: 5px;
    background-color: #262626;
    padding: 6px 12px;
}
.center {
	margin-left: auto;
	margin-right: auto;
}
a { /* Change links to match the colour scheme */
    color: #04AA6D;
}
h1 { /* Set titles apart with font, spacing, and text size */
    font-family: OpenSans, sans-serif;
    color: #04AA6D;
    line-height: 1.2;
    margin: 2px;
}
input { /* Normal text input styling is a dumpster fire, let's fix that */
    background-color: #151515;
    border-radius: 5px;
    border: 2px solid #04AA6D;
	color: white;
}
.spacer { /* Just a workaround for spacing elements cuz css boxes are complicated */
    font-size: 0;
    color: #262626;
    padding: 25px;
}
.minispacer {
	font-size: 0;
	color: #262626;
	padding: 5px;
}

/* Button styles */
.btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #262626;
    border: 2px solid;
    border-radius: 5px;
    background-color: #04AA6D;
    padding: 6px 12px;
    margin: 0px 5px;
    transition-duration: 0.3s;
}
.btn:hover {
    box-shadow: -5px 5px 3px black;
    scale: 1.05;
}
.circleBtn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    transition-duration: 0.4s;
    opacity: 1;
    height: 25px;
    width: 25px;
}
.circleBtn:hover {
    opacity: .5;
}

/* Styles for a gallery view */
.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1200px;
	justify-items: center;
	align-items: center;
}
.gallery-item {
    width: 300px;
	height: 300px;
    color: #04AA6D;
    border: 2px solid;
    border-radius: 5px;
    background-color: #262626;
    margin: 10px;
    padding: 6px 12px;
    display: grid;
    position: static;
    grid-template-rows: 200px 1fr;
    transition-duration: .4s;
}
.gallery-item:hover {
    transform: scale(1.05, 1.05);
    box-shadow: -10px 10px 3px black;
}
.gallery-picture {
    margin: auto auto;
    max-width: 200px;
    max-height: 200px;
}
.gallery-text {
    margin: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #262626;
    background-color: #04AA6D;
    border-radius: 5px;
}
.gallery-title {
    font-size: 25px;
    padding: 5px;
    margin: 0px;
}
.gallery-desc {
    font-size: 14px;
    padding: 5px;
    margin: 0px;
}

/* Styles for the blog page */
.blog {
    max-width: 1200px;
	justify-items: center;
	align-items: center;
}
.blog-item {
    color: #04AA6D;
    border: 2px solid;
    border-radius: 5px;
    background-color: #262626;
    margin: 10px;
    padding: 6px 12px;
    display: grid;
    position: static;
    grid-template-columns: 1fr 25px 200px;
    transition-duration: .4s;
	text-decoration: none;
}
.blog-item:hover {
    transform: scale(1.05, 1.05);
    box-shadow: -10px 10px 3px black;
}
.blog-picture {
	max-width: 200px;
	max-height: 200px;
	grid-column: 3;
}
.blog-text {
	display: grid;
	position: static;
	grid-template-rows: 1fr 1fr;
	grid-column: 1;
}
.blog-title {
    font-size: 25px;
    padding: 5px;
    margin: 0px;
	font-family: OpenSans, sans-serif;
	grid-row: 1;
}
.blog-desc {
    font-size: 14px;
    padding: 5px;
    margin: 0px;
	color: white;
	grid-row: 2;
}