{% extends 'templates/base.html' %}
{% block title %}Contact Me{% endblock %}
{% block content %}

<script>
    document.getElementById('/contact').id = 'active'
</script>

<h1 class='code'>Contact Me</h1>
<p>I'm on all of the following platforms:</p>
<ul>
    <li>Discord: BrightShard#7618</li>
    <li><a href='mailto:brightshard@brightshard.dev' target='_blank'>E-Mail</a>: brightshard@brightshard.dev</li>
    <li><a href='https://twitter.com/bright_shard' target='_blank'>Twitter</a> @bright_shard</li>
	<li><a href='https://replit.com/@BrightShard' target='_blank'>Replit</a> (Some of my projects are on GitHub, but I have more on Replit)</li>
</ul>

{% endblock %}