{% extends 'templates/base.html' %}
{% block title %}My Projects{% endblock %}
{% block head %}

<link rel="stylesheet" type="text/css" href="/static/styles/gallery.css">

{% endblock head %}
{% block content %}

<script>document.getElementById('/projects').id = 'active'</script>

<h1 class='code center'>My Projects</h1>
<br><br>
<div class='gallery center'>
    {% for name, project in projects.items() %}
        <a class='gallery-item' href='/projects/{{ project.href }}'>
            <img class='gallery-picture' nozoom='true' src='/static/images/icons/{{ project.imgsrc }}'>
            <div class='gallery-text'>
                <h2 class='gallery-title'>{{ project.title }}</h2>
                <p class='gallery-desc'>{{ project.desc }}</p>
            </div>
        </a>
    {% endfor %}
</div>

{% endblock %}