{% from 'nav.html' import navPages with context %}
<!DOCTYPE html>
<head>
    <title>BrightShard - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="https://www.brightshard.dev/static/style.css">
    <meta name="viewport" content="width=device-width">
    <script src="https://www.brightshard.dev/static/scripts/jquery.js"></script>
    <script src="https://www.brightshard.dev/static/scripts/jquery.cookie.js"></script>
    <script src="https://www.brightshard.dev/static/scripts/functions.js"></script>
    <script src="https://kit.fontawesome.com/6fa9f80ec4.js"></script>
</head>
<body>
    <div id='veil' style='position: absolute; width: 100%; height: 100%; background-color: #151515; z-index: 69;'></div>
    
    <div id='titlebar'>
        <div id='title'>
            <a href='/' id='title-text'>BrightShard</a>
        </div>
        <div id='navbar'>
            <ul id='navbar-pages'>
                {{ navPages() }}
            </ul>
            <div id='spacer' style='grid-column: 2'></div>
            <ul id='navbar-icons'>
                <a href='https://github.com/Bright-Shard' target='_blank'><i class="fa fa-2x fa-github" aria-hidden="true"></i></a>
                <a href='javascript:void(0)'><i class='fas fa-cog icon' href='javascript:void(0)' id="cog"></i></a>
                <a href='javascript:void(0)'><i class='fas fa-bars icon' href='javascript:void(0)' id='hamburger'></i></a>
            </ul>
        </div>
        <div id='spacing-right'></div>
    </div>

    <!-- Detect user clicks on the page - used to close a menu if it's clicked outside of !-->
    <div id='clickdetection' style='width: 100%; height: 100%; z-index: 1; position: fixed;'></div>

    <div id='settings' class='outline'>
        <div id="settingsContent">
            <h1 style="font-size: 30px" class='updateColour' nerdtext='Page Colour' normaltext='Page Colour'>Page Colour</h1>
            <br>
            <a href="javascript:reloadCSS('#04AA6D');" class="circleBtn" style="color: #04AA6D;
                background-color: #04AA6D;" id="greenColour"></a>
            <a href="javascript:reloadCSS('#FF5500');" class="circleBtn" style="color: #FF5500;
                background-color: #FF5500;" id="orangeColour"></a>
            <a href="javascript:reloadCSS('#00AAFF');" class="circleBtn" style="color: #00AAFF;
                background-color: #00AAFF;" id="blueColour"></a>
            <a href="javascript:reloadCSS('#0048BA');" class="circleBtn" style="color: #0048BA;
                background-color: #0048BA;" id="deepBlueColour"></a>
            <a href="javascript:reloadCSS('#6A0080');" class="circleBtn" style="color: #6A0080;
                background-color: #6A0080;" id="purpleColour"></a>
            <a href="javascript:reloadCSS('#E60000');" class="circleBtn" style="color: #E60000;
                background-color: #E60000;" id="redColour"></a>
        </div>
    </div>

    <div id='content'>
        {% block content %}{% endblock %}
    </div>

    <img id='bigimg' nozoom='true' style='z-index: 2; position: fixed; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%);'>

    <div id='footer'>
        <div id='footer-content'>
            <h1 style="font-size: 14px;" class='updateColour' nerdtext='© BrightShard 2021' normaltext='© BrightShard 2021'>© BrightShard 2021</h1>
            <h1 style="font-size: 14px;" class='updateColour' nerdtext='Made with ❥ by BrightShard, hosted on Replit' normaltext='Made with ❥ on Replit'>Made with ❥ by BrightShard, hosted on Replit</h1>
        </div>
    </div>
</body>