{% extends 'base.html' %}


{% block title %}
Contact Me
{% endblock %}


{% block content %}

<script>
    document.getElementById('/contact').id = 'active'
</script>

<h1 class='code'>Contact Me</h1>
<p>I'm on all of the following platforms:</p>
<ul>
    <li>Discord: BrightShard#7618</li>
    <li><a href='mailto:brightshard@brightshard.dev'>E-Mail</a>: brightshard@brightshard.dev<br>Note: This email address is encrypted with Tutanota :)</li>
    <li><a href='https://twitter.com/bright_shard'>Twitter</a> @bright_shard</li>
</ul>

{% endblock %}