{% extends 'base.html' %}


{% block title %}
Projects
{% endblock %}


{% block content %}

<script>
    document.getElementById('/projects').id = 'active'
</script>

<h1 class="code">My Projects</h1>
<br><br>
<div class='gallery'>
    {% for project in projects %}
        <a class='gallery-item' href={{ project.href }}>
            <img class='gallery-picture' nozoom='true' src={{ project.imgsrc }}>
            <div class='gallery-text'>
                <h2 class='gallery-title'>{{ project.title }}</h2>
                <p class='gallery-desc'>{{ project.desc }}</p>
            </div>
        </a>
    {% endfor %}
</div>

{% endblock %}